.wrapper {
    height: 58px;
    max-width: 556px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
}

.input {
    border: none;
    padding: 24px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    flex-grow: 1;
}

.button {
    border: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 58px;
    background-color: black;
    color: white;
    cursor: pointer;
}